{
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "Serviço de Emitentes",
    "description": "API REST desenvolvida em Progress 4GL para retornar o primeiro e o último emitente com identificador 2 ou 3."
  },
  "host": "fsw.consultoriaprime.com",
  "basePath": "/api/prm/v1/prmapiAtivaFornec",
  "schemes": ["http"],
  "produces": ["application/json"],
  "paths": {
    "/getFirst": {
      "get": {
        "tags": ["Emitente"],
        "summary": "Retorna o primeiro emitente com identificador 2 ou 3",
        "description": "Executa a procedure pi-get-first e retorna os dados do primeiro emitente encontrado na tabela mgcad.emitente.",
        "responses": {
          "200": {
            "description": "Requisição executada com sucesso",
            "schema": {
              "$ref": "#/definitions/LookupEmitenteResponse"
            }
          },
          "500": {
            "description": "Erro interno ao executar a procedure"
          }
        }
      }
    },
    "/getLast": {
      "get": {
        "tags": ["Emitente"],
        "summary": "Retorna o último emitente com identificador 2 ou 3",
        "description": "Executa a procedure pi-get-last e retorna os dados do último emitente encontrado na tabela mgcad.emitente.",
        "responses": {
          "200": {
            "description": "Requisição executada com sucesso",
            "schema": {
              "$ref": "#/definitions/LookupEmitenteResponse"
            }
          },
          "500": {
            "description": "Erro interno ao executar a procedure"
          }
        }
      }
    }
  },
  "definitions": {
    "LookupEmitenteResponse": {
      "type": "object",
      "properties": {
        "method": {
          "type": "string",
          "example": "GET"
        },
        "status": {
          "type": "integer",
          "example": 200
        },
        "items": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/LookupEmitente"
          }
        }
      }
    },
    "LookupEmitente": {
      "type": "object",
      "properties": {
        "codEmitente": {
          "type": "string",
          "example": "000001",
          "description": "Código do emitente retornado da tabela mgcad.emitente"
        },
        "desEmitente": {
          "type": "string",
          "example": "EMPRESA MODELO LTDA",
          "description": "Nome abreviado do emitente"
        }
      }
    }
  }
}
