{
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "Serviço Emitentes",
    "description": "API REST para consulta do primeiro e último emitente com identificador 2 ou 3."
  },
  "host": "fsw.consultoriaprime.com",
  "basePath": "/api/prm/v1",
  "schemes": [
    "http"
  ],
  "securityDefinitions": {
    "basicAuth": {
      "type": "basic"
    }
  },
  "paths": {
    "/prmapiAtivaFornec/getFirst": {
      "get": {
        "tags": ["Emitente"],
        "summary": "Retorna o primeiro emitente",
        "description": "Retorna o primeiro emitente da tabela mgcad.emitente com identificador 2 ou 3.",
        "security": [
          {
            "basicAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Requisição executada com sucesso.",
            "schema": {
              "$ref": "#/definitions/LookupEmitenteResponse"
            }
          },
          "500": {
            "description": "Erro interno ao executar a procedure."
          }
        }
      }
    },
    "/prmapiAtivaFornec/getLast": {
      "get": {
        "tags": ["Emitente"],
        "summary": "Retorna o último emitente",
        "description": "Retorna o último emitente da tabela mgcad.emitente com identificador 2 ou 3.",
        "security": [
          {
            "basicAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Requisição executada com sucesso.",
            "schema": {
              "$ref": "#/definitions/LookupEmitenteResponse"
            }
          },
          "500": {
            "description": "Erro interno ao executar a procedure."
          }
        }
      }
    }
  },
  "definitions": {
    "LookupEmitenteResponse": {
      "type": "object",
      "properties": {
        "method": {
          "type": "string",
          "example": "GET"
        },
        "status": {
          "type": "integer",
          "example": 200
        },
        "items": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/LookupEmitente"
          }
        }
      }
    },
    "LookupEmitente": {
      "type": "object",
      "properties": {
        "codEmitente": {
          "type": "integer",
          "example": 0
        },
        "desEmitente": {
          "type": "string",
          "example": "EMPRESA MODELO LTDA"
        }
      }
    }
  }
}
