{
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "Serviço Emitentes",
    "description": "API REST para consulta do primeiro e ultimo emitente com identificador 2 ou 3."
  },
  "host": "fsw.consultoriaprime.com",
  "basePath": "/api/prm/v1",
  "schemes": [
    "http"
  ],
  "securityDefinitions": {
    "basicAuth": {
      "type": "basic"
    }
  },
  "paths": {
    "/prmapiAtivaFornec/getFirst": {
      "get": {
        "security": [
          {
            "basicAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Requisicao executada com sucesso",
            "schema": {
              "$ref": "#/definitions/return"
            }
          },
          "400": {
            "description": "Erro interno"
          }
        }
      }
    },
    "/prmapiAtivaFornec/getLast": {
      "get": {
        "security": [
          {
            "basicAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Requisicao executada com sucesso",
            "schema": {
              "$ref": "#/definitions/return"
            }
          },
          "400": {
            "description": "Erro interno"
          }
        }
      }
    },
	"/prmapiAtivaFornec": {
      "post": {
        "security": [
          {
            "basicAuth": []
          }
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/parametrosPost"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Requisição POST executada com sucesso",
            "schema": {
              "$ref": "#/definitions/return"
            }
          },
          "400": {
            "description": "Erro no processamento"
          }
        }
      }
    }
  },
  "definitions": {
    "return": {
      "type": "object",
      "properties": {
        "method": {
          "type": "string",
          "example": "GET"
        },
        "status": {
          "type": "integer",
          "example": 200
        }        
      }
    },
	"parametrosPost": {
      "type": "object",
      "properties": {
        "teste": {
          "type": "string",
          "example": "teste"
        },
        "nice": {
          "type": "string",
          "example": "nice"
        },
        "jon": {
          "type": "string",
          "example": "jon"
        }
      },
      "required": ["teste", "nice", "jon"]
    }    
  }
}
